#gnb{
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #181745;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.8);
}
#gnb a{
    color: #fff;
}
#gnb .profile{
    padding: 30px;
}
#gnb .profile .name{
    color: #fff;
    font-size: 1.8em;
    display: block;
}
#gnb .profile .grant{
    color: #ddd;
    display: block;
    font-size: 0.8em;
}
#gnb .profile .btnBox{
    margin-top: 10px;
}
#gnb .profile .btnBox a{
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #333;
    border-radius:  5px;
}
#gnb .profile .btnBox a.logout{
    margin-left: 10px;
}
#gnb nav{
    margin-top: 50px;
}
#gnb nav ul li{
    padding: 10px 30px;
    border-bottom: 0.5px solid #afade0;
}
#gnb nav ul li+li{
    margin-top: 30px;
}
#gnb nav ul li a{
    font-size: 1.4em;
    opacity: 0.5;
    transition: all 0.5s;
}
#gnb nav ul li.active a,#gnb nav ul li:hover a{
    opacity: 1;
}
#gnb nav ul li a i{
    margin-right: 10px;
}

#wrap{
    background: #216288;
    width: 100%;
    min-height: 100vh;
    padding: 50px 50px 50px 300px;
}

#wrap .title{
    font-size: 1.6em;
    color: #fff;
    font-weight: bold;
}
#wrap .itemWrap{
    margin-top: 50px;
}
#wrap .item_title{
    padding: 10px 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}
.item01{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 1%;
}
.item02{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 1%;
}
.item03{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    
}
.item04{
    width: 49%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 2%;
    margin-top: 30px;
}
.item05{
    width: 49%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 30px;
}
.main .tableWrap{
    padding: 0 30px;
}
.main .table tr td{}
#connectionStatistics{
    padding: 30px;
}