#gnb{
    position: fixed;
    height: 100vh;
    width: 250px;
    background: #181745;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.8);
}
#gnb a{
    color: #fff;
}
#gnb .profile{
    padding: 30px;
}
#gnb .profile .name{
    color: #fff;
    font-size: 1.8em;
    display: block;
}
#gnb .profile .grant{
    color: #ddd;
    display: block;
    font-size: 0.8em;
}
#gnb .profile .btnBox{
    margin-top: 10px;
}
#gnb .profile .btnBox a{
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #333;
    border-radius:  5px;
}
#gnb .profile .btnBox a.logout{
    margin-left: 10px;
}
#gnb nav{
    margin-top: 50px;
}
#gnb nav ul li{
    padding: 10px 30px;
    border-bottom: 0.5px solid #afade0;
}
#gnb nav ul li+li{
    margin-top: 30px;
}
#gnb nav ul li a{
    font-size: 1.4em;
    opacity: 0.5;
    transition: all 0.5s;
}
#gnb nav ul li.active a,#gnb nav ul li:hover a{
    opacity: 1;
}
#gnb nav ul li a i{
    margin-right: 10px;
}

#wrap{
    background: #216288;
    width: 100%;
    min-height: 100vh;
    padding: 50px 50px 50px 300px;
}

#wrap .title{
    font-size: 1.6em;
    color: #fff;
    font-weight: bold;
}
#wrap .itemWrap{
    margin-top: 50px;
}
#wrap .item_title{
    padding: 10px 30px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}
.item01{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 1%;
}
.item02{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 1%;
}
.item03{
    width: 32.666%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    
}
.item04{
    width: 49%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-right: 2%;
    margin-top: 30px;
}
.item05{
    width: 49%;
    float: left;
    background:  #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 30px;
}
.main .tableWrap{
    padding: 0 30px;
}
.main .table tr td{}
#connectionStatistics{
    padding: 30px;
}

.contentsTab{
       background: #fff;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #333;
}
.contentsTab > ul:after{
    display: block;
    content: "";
    clear: both;
}
.contentsTab > ul > li{
    display: block;
    float: left;
    position: relative;
}
.contentsTab > ul > li::before{
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 2px;
    background: #0971ce;
    content: '';
    display: block;
    transition: all 0.2s;
}
.contentsTab > ul > li:hover::before,.contentsTab > ul > li.on::before{
    width: 100%;
}
.contentsTab > ul > li::after{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #d9d9d9;
    content: '';
    display: block;
    transition: all 0.2s;
}
.contentsTab > ul > li:hover::after,.contentsTab > ul > li.on::after{
    width: 0%;
}
.contentsTab > ul > li >a{
    display: block;
    text-align: center;
    padding: 15px 0;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.contentsTab > ul > li:last-child >a{
    border-right: 1px solid #d9d9d9;
}
.tabContents{padding:20px 0px;}
.tabContents >div{
    display: block;
}
.tabContents >div:after{
    display: block;
    content: '';
    clear: both;
}
.tabContents >div.on{
    display: block;
}
table.table.list > thead > tr > th{
    background: #55608f;
    color: #fff;
    text-align: center;
}
table.table.list > tbody > tr > td{
    text-align:  center;
    padding: 12px 0;
}
table.table.list > tbody > tr > td> a{
    display: block;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
table.table.list > tbody > tr:last-child > td{
	border-bottom: 1px solid #d9d9d9;
}
.pagination > li > a >span{
    padding: 2px 0;
    display: inline-block;
}
.searchWrap{
    margin: auto;
    width: 100%;
    max-width: 	400px;
}
.searchWrap:after{
	display: block;
	clear: both;
	content: '';
}
.searchWrap >form> *{
    display: block;
    float: left;
}
.searchWrap select{
	width: 20%;
	border-radius: 4px 0 0 4px;
	border-right: 0;
}
.searchWrap input{
	width: 70%;
	border-radius: 0;
}
.searchWrap span{
	width: 10%;
}
.searchWrap span button{
	padding-top: 9px;
	padding-bottom: 9px;
}
.writeBtn{
    display: block;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 5px 10px;
   float: right;
   transition: all 0.5s;
}
.writeBtn:hover{
	background: #acd2dd;
	color: #fff;
}

.modal-dialog{
	width: 800px;
}
.form-group label{
	display: block;
	margin-bottom: 10px;
}
.detailTitle{
	font-size: 1.4em;
	border-bottom: 1px solid #d9d9d9;
}
.detailContent{
	min-height:300px;
}
.detailAnswer,.insertAnswer,.modifyAnswer{
	padding: 30px 0;
	border-top:2px solid #000;
}
.detailAnswer >.btnBox,.insertAnswer>.btnBox,.modifyAnswer>.btnBox{
	margin-top: 15px;
	text-align: right;
}
.detailAnswer >.btnBox >a,.insertAnswer>.btnBox >a,.modifyAnswer>.btnBox >a{
	display: inline-block;
	border: 1px solid #333;
	padding: 5px 10px;
}