.map_wrap, .map_wrap * {margin:0;padding:0;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

.itemWrap{
	margin-top: 30px;
	margin-bottom: 30px;
}
	.item{
		border: 1px solid #d9d9d9;
		border-radius: 10px;
		overflow: hidden;
		margin-top: 15px;
		box-shadow: 0px 0px 10px 6px rgba(0,0,0,0.05);
		text-align: center;
		padding-bottom: 10px;
		cursor: pointer;
		
	}
	
	.imgBox {
		display: block;
		height: 20rem; /* layout hack */
		background: #fff center center no-repeat;
		background-size: cover;
		width: 100%;
		overflow: hidden;
		
	}
	
	.imgBox img {
		    width: auto;
	    max-height: 100%;
	    height: auto;
	    max-width: none;
		/* 	opacity: 0; visually hide the img element */
		transition: all 0.5s;
	}
	.item:hover .imgBox img{
		transform: scale(1.02);
	}
	.textBox{
		border-top: 1px solid #333;
		padding: 10px;
	}
	.textBox h5 a{
		font-size: 1.2em;
		font-weight:bold ;
	}
		
	.textBox p{
		margin-top: 10px;
		color: #666;
		font-size: 0.9em;
	}
	
	.infoBox{
		text-align: center;
	}	
	.infoBox i.fas{
		color: #cac500;
	}
	
	.itemBtn{
		border: 1px solid #999;
		padding: 5px 20px;
		border-radius: 5px;
		display: inline-block;
		margin-top: 10px;
	}
	
	.card-image.is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
	}
	
	.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
	}
	
	.card {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
	}
	
	.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
	}
	
	.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
	}
	
	.card-description > h2 {
	margin: 0 0 0.5em;
	}
	
	.card-description > p {
	margin: 0;
	}

	.kk{
	width: 500px;
	}
	
	.page-wrapper{
	    width:100%;
	    height:100%;
	   background:url(https://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
	    background-size:cover;
	  }
	  
	  .blur{
	    -webkit-filter: blur(5px);
	    -moz-filter: blur(5px);
	    -o-filter: blur(5px);
	    -ms-filter: blur(5px);
	    filter: blur(5px);
	  }
	  
	  a.btn{
	    width:250px;
	    display:block;
	    margin:-25px 0 0 -75px;
	    padding:1em 0;
	    position:absolute;
	    top:65%; left:80%;
	    font:1.125em 'Arial', sans-serif;
	    font-weight:700;
	    text-align:center;
	    text-decoration:none;
	    color:#fff;
	    border-radius:5px;
	    background:rgba(217,67,86,1);
	  }
	  
	  
	  
	  
	  










.portfolio-slideshow-wrapper {
  position: relative;
  width: 640px;
  height: 400px;
  margin: 0 auto;
}
.portfolio-slideshow-wrapper ul {
  list-style: none;
}
.portfolio-slideshow-wrapper li {
  width: 400px;
  height: 250px;
  background: #dbbc23;
  display: inline-block;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
}
.portfolio-slideshow-wrapper li.items {
  position: absolute;
}
.portfolio-slideshow-wrapper li.main-pos {
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.portfolio-slideshow-wrapper li.left-pos {
  z-index: 1;
  opacity: .3;
  top: 0;
  left: -600px;
  right: 0;
  margin: auto;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
.portfolio-slideshow-wrapper li.back-pos {
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .05;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}
.portfolio-slideshow-wrapper li.right-pos {
  z-index: 1;
  opacity: .3;
  top: 0;
  left: 420px;
  right: 0;
  margin: auto;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
}
.portfolio-slideshow-wrapper li p {
  color: #281b08;
  font-family: Arial;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
}
.portfolio-slideshow-wrapper span {
  position: relative;
  margin: 0 auto;
  left: 272px;
  top: 320px;
}


	  

#datepicker-start{
	margin-left: 10px;
	margin-top: 10px;
}

#sido2{
	margin-top: 10px;
}
.btn-group{
	margin-top: 10px;
}
.selectBox1{
	margin-top: 10px;
}
.selectBox2{
	margin-top: 10px;
}
.wish{
	margin-top: 10px;
}
	  
.modal-title{
	font-size: 1.6em;
}
#insertModal .modal-body h2{
	font-size: 1.05em;
	font-weight: bold;
	padding: 0 15px; 
}	  
#insertModal .modal-body .form-group{
	padding: 15px 0;
	border-bottom: 1px solid #333;
}	  
#insertModal .modal-body .form-group:after{
	display: block;
	clear: both;
	content:'';
}#insertModal .modal-body .btn-group{
	width: 100%;
	padding: 10px 0;
}
.pagination > li > a >span{
    padding: 2px 0;
    display: inline-block;
}
.searchWrap{
    margin: auto;
    width: 100%;
    max-width: 	400px;
}
.searchWrap:after{
	display: block;
	clear: both;
	content: '';
}
.searchWrap >form> *{
    display: block;
    float: left;
}
.searchWrap select{
	width: 20%;
	border-radius: 4px 0 0 4px;
	border-right: 0;
}
.searchWrap input{
	width: 70%;
	border-radius: 0;
}
.searchWrap span{
	width: 10%;
}
.searchWrap span button{
	padding-top: 9px;
	padding-bottom: 9px;
}	  
	  
#detailModal .infoBox{
	border-top: 2px solid #000;
	padding: 15px 0;
	text-align: left;
}
#detailModal .infoBox dl{
	width: 100%;
	padding: 10px 0;
}
#detailModal .infoBox dl+dl{
	
	border-top: 1px dashed #d9d9d9;
}
#detailModal .infoBox dl::after{
	display: block;
	clear: both;
	content:'';
}
#detailModal .infoBox dl dt{
	width: 10%;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}
#detailModal .infoBox dl dd{
	width: 90%;
	float: left;
	font-size: 1.2em;
}
#detailModal .contentsBox{
	border-top: 2px solid #000;
}
#detailModal .contentsBox img{
	max-width: 100%;
	height: auto;
	width: auto;
}
.serviceTable{
	margin-top: 30px;
}
.serviceTable th{
	background: #efefef;
	text-align: center;
}
.serviceTable td{
	text-align: center;
}
.serviceTable tr:last-child td{
	border-bottom: 1px solid #d9d9d9;
}
















#weddingDetailModal .wedVenue{
	border-top: 2px solid #000;
	padding: 15px 0;
	text-align: left;
}
#weddingDetailModal .wedVenue dl{
	width: 100%;
	padding: 10px 0;
}
#weddingDetailModal .wedVenue dl+dl{
	
	border-top: 1px dashed #d9d9d9;
}
#weddingDetailModal .wedVenue dl::after{
	display: block;
	clear: both;
	content:'';
}
#weddingDetailModal .wedVenue dl dt{
	width: 10%;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}
#weddingDetailModal .wedVenue dl dd{
	width: 90%;
	float: left;
	font-size: 1.2em;
}













#TravelBoxModal .Teavel{
	border-top: 2px solid #000;
	padding: 15px 0;
	text-align: left;
}
#TravelBoxModal .Teavel dl{
	width: 100%;
	padding: 10px 0;
}
#TravelBoxModal .Teavel dl+dl{
	
	border-top: 1px dashed #d9d9d9;
}
#TravelBoxModal .Teavel dl::after{
	display: block;
	clear: both;
	content:'';
}
#TravelBoxModal .Teavel dl dt{
	width: 10%;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}
#TravelBoxModal .Teavel dl dd{
	width: 90%;
	float: left;
	font-size: 1.2em;
}








#serviceAddDetailModal .ServiceAdd{
	border-top: 2px solid #000;
	padding: 15px 0;
	text-align: left;
}
#serviceAddDetailModal .ServiceAdd dl{
	width: 100%;
	padding: 10px 0;
}
#serviceAddDetailModal .ServiceAdd dl+dl{
	
	border-top: 1px dashed #d9d9d9;
}
#serviceAddDetailModal .ServiceAdd dl::after{
	display: block;
	clear: both;
	content:'';
}
#serviceAddDetailModal .ServiceAdd dl dt{
	width: 10%;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
}
#serviceAddDetailModal .ServiceAdd dl dd{
	width: 90%;
	float: left;
	font-size: 1.2em;
}



#honeyM{
	margin: 0px -453.337px 0px 0px;
    height: 78px;
    width: 519px;
}
#honeyBudget{
	margin: 0px -453.337px 0px 0px;
    height: 35px;
    width: 250px;
}
#honeyAu{
	display: inline-grid;
}

#tenderTitle{
	margin: 0px;
    width: 811px;
    height: 96px;
}

#tenderInfo{
	margin: 0px;
    width: 811px;
    height: 96px;
}
#weddingAu{
	display: inline-grid;
}
#addservice{
	display: inline-grid;
}


